<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77688706140-k8k3mkvjlkq2uj6jsl0dih13f9p6nrhd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77688706140-k8k3mkvjlkq2uj6jsl0dih13f9p6nrhd</string>
	<key>API_KEY</key>
	<string>AIzaSyAv_e6Xj1e6umqWZNkuCNePLGrpZ7T4bqw</string>
	<key>GCM_SENDER_ID</key>
	<string>77688706140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alexis22.familyclock</string>
	<key>PROJECT_ID</key>
	<string>familyclock-f621e</string>
	<key>STORAGE_BUCKET</key>
	<string>familyclock-f621e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77688706140:ios:44c34aebfc0b2051</string>
	<key>DATABASE_URL</key>
	<string>https://familyclock-f621e.firebaseio.com</string>
</dict>
</plist>